<h1>Pairing Info</h1>

  <p>Book Title: <%= pairing.title %></p>
  <p>Author: <%= pairing.author %></p>
  <p>Genre: <%= pairing.alcohol %></p>
  <p>Beer: <%= pairing.beer_name %></p>
  <p>ABV: <%= pairing.alcohol %></p>
